*,
*:before,
*:after {
  box-sizing: border-box;
}

:root{
  --main-green: #9fc088;
  --main-brown: #614124;
  --main-yellow: #e8c07d;
  --main-orange: #cc704b;
  --darker-green: #539165;
}

html {
  font-family: "Shantell Sans", monospace;
  font-size: 16px;
  background: var(--main-green);
  font-weight: 400;
  color: var(--main-orange);
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: var(--main-yellow);
  margin: 0;
  animation: opacityChange 1s ease;
}

li,
a {
  text-decoration: none;
  color: var(--main-brown);
}

.logo {
  width: 50px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0px 20px;
  padding: 5px 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  background: inherit;
  font-weight: 800;
  transition: all 0.3s ease;
}
.nav-links li:hover {
  opacity: 70%;
  transform: translateY(-5px);
}
button {
  font-family: "Shantell Sans";
  font-size: 1.5rem;
  background: inherit;
  border: none;
  cursor: pointer;
  color: var(--main-orange);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 70%;
  transform: translateY(-5px);
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 {
  position: relative;
  margin: 0;
  font-size: clamp(0.5rem, 5vw, 2.5rem);
  top: 30%;
}
.box2 {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: clamp(0.5rem, 5vw, 3rem);
  height: auto;
  text-align: center;
  bottom: auto;
  top: 30%;
}

.box2:hover {
  background: var(--main-orange);
  color: var(--main-brown);
}

.box1 .hidden, .box2 .hidden {
  transform: translateY(10px);
  opacity: 0;
  transition: all 600ms ease 1s;
}

.box1 .show, .box2 .show {
  transform: translateY(0px);
  opacity: 1;
}

.box2 .hidden {
  transition: transform 600ms ease 1.5s, opacity 600ms ease 1.5s,
    color 0ms ease 0s;
}

h1 {
  margin: 0;
}

/*  load transition */
.hidden {
  opacity: 0;
  transition: all 1s ease;
  filter: blur(5px);
  transform: translateX(-100%);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#about {
  margin: 0;
  padding: 20px 20% 20px;
  font-size: clamp(0.9rem, 3.5vw, 1.6rem);
  text-align: justify;
}
#about ul {
  list-style: none;
}
#about ul li {
  color: var(--main-orange);
}
#eight{
  width: 100%;
}
#Anh:before {
  content: "\2022";
  color: #92a8d1;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#Nghi:before {
  content: "\2022";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#me:before {
  content: "\2022";
  /*   color: #ed3419; */
  color: #ff4122;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#Nhat:before {
  content: "\2022";
  color: #609966;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#Quynh:before {
  content: "\2022";
  color: #d99f9a;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#Linh:before {
  content: "\2022";
  color: #e0fefe;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  z-index: 10;
}

#people {
  justify-content: center;
  background: var(--main-brown);
  color: var(--main-yellow);
}

.randomtext {
  padding: 20px 20% 20px;
  font-size: clamp(.9rem, 3.5vw, 1.6rem);
  text-align: justify;
}


#teacher{
  padding-bottom: 10px;
}

.nguin{
  text-align: center;
  
}

.slide-container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  border-radius: 25px;
}

.card-wrapper{
  display: flex;
}

.card{
  border-radius: 25px;
  background-color: #539165;
}

.image-content{
  position: relative;
  background: var(--main-green);
  border-radius: 25px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  color: var(--main-brown);
}



.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--main-green);
}
.overlay::after{
  width: 41px;
  border-radius: 0 25px 0 0;
  background-color: var(--darker-green);
}

.name{  
  text-align: center;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.cardimg{
  object-fit:cover;
  margin-top: 5px;
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.card-content{
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: #EEEEEE;
  padding: 0px 5px 5px;
}

.field, .quote, .feature{
  display: flex;
  align-items: center;
  position: relative;
}

.field ul li, .quote ul li, .feature ul li{
  color: white;
}

h4{
  text-align: center;
  width: 30%;
}

.swiper-navBtn{
  transition: opacity 0.3s ease;
  opacity: 0.3;
}
.swiper-navBtn:hover{
  opacity: 1;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

#teach{
  border-top: 1px solid var(--main-orange);
}

.grid{
  display: grid;
  grid-template-rows: 7fr 3fr;
  grid-template-columns: 4fr 5.5fr 0.5fr;
}

#dainhat{
  background-color: var(--main-yellow);
  min-height: 100vh;
}

.describe{
  font-size: clamp(.9rem, 2vw, 1.3rem);
  padding: 5vh 0 0 5%;
}

.studentName{
  color: var(--main-brown);
}

.wavyName{
  text-decoration:var(--main-orange) wavy underline;
}

ul.hidden{
  padding-left: 20px;
}

.describe ul li{
  color: var(--main-orange);
  text-align: justify;
}

.mess{
  background-color: var(--main-yellow);
  grid-row:minmax(0, 1fr);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(30, 1fr);
}

.trio1{
  background-color: var(--main-orange);
  width: 50%;
  border-radius: 10px;
}

.t1{
  grid-column: 3/4;
  grid-row: 7/10;
  rotate: -60deg;
  position: relative; left: 14px; top: 3px;
}

.t2{
  grid-column: 5/6;
  grid-row: 6/9;
  rotate: -30deg;
}

.t3{
  grid-column: 7/8;
  grid-row: 5/8;
  rotate: -15deg;
  height: 90%;
  position: relative; left: -15px; top: 21px;
}

.trio2{
  background-color: var(--darker-green);
  width: 50%;
  border-radius: 10px;
}

.tr1{
  grid-column: 13/14;
  grid-row: 4/7;
  rotate: 15deg;
}

.tr2{
  grid-column: 15/16;
  grid-row: 5/8;
  rotate: 30deg;
  position: relative; left: -13px; top: -5px
}

.tr3{
  grid-column: 17/18;
  grid-row: 6/9;
  rotate: 50deg;
  height: 90%;
  position: relative; left: -29px; top: -4px;
}


.mountain1{
  grid-row: 9/29;
  grid-column: 6/19;
  background-color: var(--main-green);
  border-radius: 50% 50% 0 0;
}

.imagemess{
  grid-row: 1/29;
  grid-column: 1/21; 
}

.imagemess img{
  height: 100%;
  width: 100%;
}

/* .smile{
  position: relative;
  top: 30%;
  left: 70%;
  width: 25%;
  height: 50px;
  background-color: var(--main-green);
  box-shadow: 0 3.5px var(--darker-green);
  border-radius: 50%;
}

.smile::after{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: var(--darker-green);
  border-radius: 50%;
  top: 20%;
  left: 20%;
}

.smile::before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: var(--darker-green);
  border-radius: 50%;
  top: 20%;
  left: 70%;
} */

.mountain2{
  grid-row: 12/29;
  grid-column: 4/14;
  background-color: var(--darker-green);
  border-radius: 50% 50% 0 0;
}

.rectangle1{
  grid-row: 28/30;
  grid-column: 3/9;
  background-color: var(--main-green);
  border-radius: 10px;
  z-index: 1;
}

.rectangle2{
  grid-row: 29/31;
  grid-column: 7/15;
  background-color: var(--darker-green);
  border-radius: 10px;
  z-index: 2;
}

.rectangle3{
  grid-row: 27/30;
  grid-column: 12/20;
  background-color: var(--main-orange);
  border-radius: 10px;
  z-index: 1;
}



.verticalWords{
  background-color: var(--main-yellow);
  grid-row: 1/3;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
}

.verticalWords.hidden{
  transform: translateX(0px);
  transform: translateY(10px);
}

.verticalWords.show{
  transform: translateY(0px);
}

.mess.hidden{
  transform: translateX(0px);
  transform: translateY(10px);
  transform: scale(0);
  transition-delay: 600ms;
}

.mess.show{
  transform: translateY(0px);
  transform: scale(1);
}

.describe ul{
  list-style: none;
}

.verticalWords .hidden{
  opacity: 0;
}

.vertItem{
  margin: 30px 0;
  width: 100%;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 3vw;
}

.vert1{
  color: var(--darker-green);
}

.vert2{
  color: var(--main-orange)
}

.studentQuote{
  grid-column: 1/3;
  color: var(--main-brown);
  padding: 5%;
  font-size: clamp(.9rem, 2vw, 1.3rem);
}

.studentQuote.hidden{
  opacity: 0;
  transition: all 1s ease;
  filter: blur(5px);
  transform: scale(0);
}

.studentQuote.show{
  opacity: 1;
  filter: blur(0px);
  transform: scale(1);
}

.triangle1{
  position: relative;
  left: -20px; 
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--main-orange);
  rotate: 135deg;
}

.triangle2{
  position: absolute;
  right: 9.1%;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--main-orange);
  rotate: -45deg;
}

.realQuote{
  text-align: justify;
  padding: 2%;
}

.signature{
  position: relative;
  margin-top: 5px;
  left: 75%;
  width: fit-content;
}

#timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.content {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text {
  padding: 20px 30px;
  position: relative;
  background: var(--main-yellow);
  color: var(--main-brown);
  border-radius: 6px;
  font-size: clamp(0.6rem, 5vw, 1.3rem);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
  text-align: justify;
}

.text h2 {
  font-weight: 600;
}
.text small {
  display: inline-block;
  opacity: 70%;
}
.left.hidden {
  left: 28px;
  opacity: 0;
  transform: translateX(10px);
  transition: all 1s ease;
  padding-left: 0;
}
.left.show {
  opacity: 1;
  transform: translateX(0px);
}

.right.hidden {
  left: 48.3%;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 1s ease;
  padding-right: 0;
}

.right.show {
  opacity: 1;
  transform: translateX(0px);
}

.content img {
  position: absolute;
  width: 110px;
  border-radius: 50%;
  right: -30px;
  top: 32px;
  z-index: 3;
  aspect-ratio: 1/1;
}

.right img {
  left: -32px;
}

.expand{
  cursor: pointer;
}

#fullpage {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}

#timeline:after {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  left: 50%;
  background: var(--main-orange);
  z-index: -1;
}

.title {
  border-bottom: 1px solid #407088;
  float: left;
  width: 100%;
  padding-bottom: 3px;
}

.needle {
  transform: scale(1);
  transition: 300ms ease;
}

.needle:hover {
  transform: scale(1.01);
  transition: all 300ms ease;
}

.needle:after {
  content: "";
  background: linear-gradient(transparent, var(--main-brown), transparent);
  height: 30px;
  width: 1.4px;
  position: absolute;
  left: 0px;
  z-index: 10;
  top: 65%;
  transition: all 600ms ease;
  opacity: 0;
}

.needle:hover:after {
  opacity: 1;
  top: 25%;
}

.right > .needle:after {
  left: 100%;
}

.right > .needle:hover:after {
  opacity: 1;
  top: 25%;
}

.needle:before {
  content: "";
  background: linear-gradient(to right, transparent, var(--main-brown), transparent);
  height: 1.4px;
  width: 30px;
  position: absolute;
  left: 25%;
  z-index: 10;
  top: 0px;
  transition: all 600ms ease;
  opacity: 0;
}

.needle:hover:before {
  opacity: 1;
  left: 65%;
}

.right > .needle:hover:before {
  opacity: 1;
  left: 25%;
}

.right > .needle:before {
  left: 65%;
}

.container {
  width: 500px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  z-index: -1;
}
/*Branch*/
.branch {
  background-color: #7b5319;
  width: 90%;
  height: 4.4%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
  animation: slideInRight 750ms ease-in;
}
/* Koala Body */
.body {
  background-color: #767677;
  height: 20%;
  width: 30%;
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
  animation: slideInLeft 750ms ease-in;
}
/* Hind leg 1 & Front leg 1*/
.body:before,
.body:after {
  content: "";
  position: absolute;
  background-color: #767677;
  height: 70%;
  width: 23%;
  border-radius: 18px;
}
/* Hind Leg 1 */
.body:before {
  top: 60%;
  left: 76%;
  transform: rotate(-15deg);
}
/* Front leg 1 */
.body:after {
  top: 70%;
  left: 13%;
}
/* Face */
.face {
  position: absolute;
  background-color: #8f8d8f;
  height: 23%;
  width: 23%;
  top: 30%;
  left: 17.6%;
  border-radius: 50%;
  animation: slideInLeft 750ms ease-in;
}
/* Ear left and Ear right*/
.ear-1,
.ear-2 {
  background-color: #efd8db;
  height: 7.6%;
  width: 7.6%;
  border-radius: 50%;
  position: absolute;
  animation: slideInLeft 750ms ease-in;
}
/* Ear right */
.ear-2 {
  box-shadow: 0 -5px 0 12px #a9a9ac;
  top: 27%;
  left: 34.4%;
}
/* Ear left */
.ear-1 {
  box-shadow: -3px -5px 0 12px #a9a9ac;
  top: 41%;
  left: 13%;
}
/* Front leg 2 and Hind leg 2*/
.ear-1:before,
.ear-1:after {
  position: absolute;
  content: "";
  background-color: #5c5b5d;
  height: 184%;
  width: 92.1%;
  border-radius: 18px;
}
/* Front leg 2 */
.ear-1:before {
  top: 21%;
  left: 131.5%;
}
/* Hind leg 2 */
.ear-1:after {
  left: 421%;
  top: 21%;
}
/* Tail */
.branch:before {
  position: absolute;
  content: "";
  height: 68.2%;
  width: 3.3%;
  background-color: #aaa7aa;
  bottom: 272.7%;
  left: 59.3%;
  border-radius: 50%;
}
/* Leaf */
.branch:after {
  position: absolute;
  content: "";
  height: 136%;
  width: 6.7%;
  background-color: #768b36;
  bottom: 91%;
  left: 80%;
  border-radius: 30px 0;
}
/* Eye Left */
.eye {
  height: 8.7%;
  width: 17.4%;
  position: absolute;
  box-shadow: 0 3.5px #343434;
  border-radius: 50%;
  transform: rotate(-30deg);
  top: 64.3%;
  left: 13.9%;
}
/* Eye Right */
.eye:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 3.5px #343434;
  border-radius: 50%;
  left: 250%;
}
/* Nose */
.eye:after {
  content: "";
  position: absolute;
  background-color: #343434;
  height: 350%;
  width: 150%;
  left: 100%;
  border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
}
/* Blush */
.face:after {
  content: "";
  position: absolute;
  background-color: #efd8db;
  height: 12.17%;
  width: 12.17%;
  top: 53.9%;
  left: 74.78%;
  opacity: 0.9;
  border-radius: 50%;
}

/* Koala animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

@media (max-width: 450px) {
  .logo {
    width: 30px;
    position: relative;
    left: 30%;
  }
  button {
    font-size: 1rem;
  }
  #instagram {
    position: relative;
    left: 40%;
    bottom: 60px;
    padding: 0;
  }
  .nav-links li {
    top: 10px;
    position: relative;
    font-size: 0.8em;
    margin: 0px 3px;
    left: 0;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
  }
  header {
    display: block;
    padding: 10px;
  }
  .container {
    width: 280px;
    height: 280px;
  }
  .main {
    height: 75vh;
  }
  #about {
    padding: 20px 3% 20px;
  }
  #events {
    margin: 50px auto;
  }

  .content.hidden {
    width: 97%;
    padding-left: 60px;
  }
  .content.hidden img{
    width: 80px;
  }
  .text {
    font-size: 13px;
  }
  .text small {
    margin-bottom: 10px;
  }
  .right.hidden,
  .left.hidden {
    left: 0px;
    padding-right: 0;
  }
  .right img,
  .left img {
    left: 5px;
  }
  #timeline::after {
    left: 31px;
  }
  .randomtext{
    padding: 0;
  }
  .grid{
    display: block;
  }
  .verticalWords{
    display: none;
    width: 0;
    height: 0;
  }
  .triangle2{
    right: 0px;
  }
  .studentName{
    text-align: center;
  }
}

